<!-- {{diagnostic}} -->
<div class = "container">
<h1> Child Form</h1>

<form childForm = "ngForm">

	<!--  
	<div class= "form-group">
	<label for ="childId">Id</label>
	<input type="number" class = "form-control" id="childId" required
	
	[(ngModel)] = "model.childId" name = "childid">
	TODO: remove this: {{model.childId}}
	</div>
	-->
	
	<div class= "form-group col-md-4">
	<label for ="firstName">First Name</label>
	<input type="text" class = "form-control" id="firstName" required
	
	[(ngModel)] = "model.firstName" name = "firstName">
	<!-- TODO: removethis: {{model.firstName}} -->
	</div>
	
	<div class= "form-group col-md-4">
	<label for ="secondtName">Second Name</label>
	<input type="text" class = "form-control" id="secondName" required
	
	[(ngModel)] = "model.secondName" name = "secondName">
	<!--  TODO: removethis: {{model.secondtName}} -->
	</div>
	
	<div class="form-group col-md-4">
        <label for="sex">Sex</label>
        <select class="form-control" id="sex"
                required
                [(ngModel)]="model.sex" name="sex"
                #power="ngModel">
          <option>Male</option>
          <option>Female</option>
        </select>
        <!--  <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Power is required
        </div>-->
      </div>
	
	
	<div class= "form-group col-md-4">
	<label for ="sex">Sex</label>
	<input type="text" class = "form-control" id="sex" required
	
	[(ngModel)] = "model.sex" name = "sex">
	<!--  TODO: removethis: {{model.sex}} -->
	</div>
	
	<div class= "form-group col-md-4">
	<label for ="pesel">Pesel</label>
	<input type="text" class = "form-control" id="pesel" required
	
	[(ngModel)] = "model.pesel" name = "pesel">
	<!--   TODO: removethis: {{model.pesel}} -->
	</div>
	
	<div align="left">
<button class="btn btn-primary" (click) = "save()"> Add</button>
</div>
</form>

</div>

<!-- <button type="button" id="btnOpen" class="btn btn-primary" (click)="openModal(true)">Test</button> -->

<div id="mdlSample" class="modal fade" role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
<div class="modal-dialog modal-dialog-centered " styel = "align-items: center">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Add next child</h4>
</div>
<div class="modal-body">Do You want add next child to family?</div>
<div class="modal-footer" align="center">
           <div> <button type="button" id="btnOK" class="btn btn-primary" (click)="Show()">No, Show Family</button></div>
          <button type="button" id="btnClose" class="btn btn-primary" (click)="addNext()">Yes,Add Next</button>
            </div>
</div>
</div>

</div>