<!--   {{diagnostic}}-->
<div class="container">

	<div [hidden]="submitted">
		<h1>Father form</h1>
		<form (ngSubmit)="onSubmit()" #fatherForm="ngForm">
			<h4>Insert Father data:</h4>
			<!--  
      <div class="form-group">
        <label for="fatherId">Id</label>
        
        <input type="number" class="form-control" id="fatherid"
       required
       [(ngModel)]="model.fatherId" name="fatherid">
       TODO: remove this: {{model.fatherId}}
      </div>
		 -->


			<div class="form-group col-md-4">
				<label for="firstName">First Name (*)</label> <input type="text"
					class="form-control" id="firstName" required
					[(ngModel)]="model.firstName" name="firstName">



				<!--  TODO: remove this: {{model.firstName}} -->
			</div>

			<div class="form-group col-md-4">
				<label for="secondName">Second Name (*)</label> <input type="text"
					class="form-control" id="secondName" required
					[(ngModel)]="model.secondName" name="secondName">
				<!--  TODO: remove this: {{model.secondName}} -->
			</div>


			<div class="form-group col-md-4">
				<label for="birthDate">Birth Date (*) </label> <input type="Date"
					class="form-control" id="birthDate" required
					[(ngModel)]="model.birthDate" name="birthDate">
				<!--  TODO: remove this: {{model.birthDate}} -->
			</div>


			<div class="form-group col-md-4">
				<label for="pesel">Pesel (*)(**)</label> <input type="text"
					class="form-control" id="pesel" required minlength="11"
					[(ngModel)]="model.pesel" name="pesel">
			</div>


			<!-- <button (click)="save()">Send</button>-->

			(*) All fields are required <br> (**) 11 numbers reuired
			<div align="left">
				<button type="button" class="btn btn-primary" (click)="btnClick()"
					[disabled]="!fatherForm.form.valid">Add Father to Family</button>
			</div>



		</form>

	</div>

</div>
