<!--   {{diagnostic}}-->
<div class="container" >

<div  [hidden]= "submitted">
    <h1>Father form</h1>
    <form (ngSubmit) = "onSubmit()" #fatherForm = "ngForm">
    
    <!--  
      <div class="form-group">
        <label for="fatherId">Id</label>
        
        <input type="number" class="form-control" id="fatherid"
       required
       [(ngModel)]="model.fatherId" name="fatherid">
       TODO: remove this: {{model.fatherId}}
      </div>
		 -->
		 
      
      <div class="form-group col-md-4">
        <label for="firstName">First Name</label>
        
        <input type="text" class="form-control" id="firstName"
       required
       [(ngModel)]="model.firstName" name="firstName"
       #firstName = "ngModel">
       
       <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          First Name is required
        </div>
       
      <!--  TODO: remove this: {{model.firstName}} -->
      </div>
      
      <div class="form-group col-md-4">
        <label for="secondName">Second Name</label>
        
        <input type="text" class="form-control" id="secondName"
       required
       [(ngModel)]="model.secondName" name="secondName">
      <!--  TODO: remove this: {{model.secondName}} -->
      </div>
      
      
      <div class="form-group col-md-4">
        <label for="birthDate">Birth Date</label>
        
        <input type="Date" class="form-control" id="birthDate"
       required
       [(ngModel)]="model.birthDate" name="birthDate">
      <!--  TODO: remove this: {{model.birthDate}} -->
      </div>
      
      
      <div class="form-group col-md-4">
        <label for="PESEL">PESEL</label>
        
        <input type="text" class="form-control" id="PESEL"
       required
       [(ngModel)]="model.pesel" name="PESEL">
      <!--  TODO: remove this: {{model.pesel}} -->
      </div>
 
	<!-- <button (click)="save()">Wyslij</button>-->
	
		<button type="button" class="btn btn-primary" (click)="btnClick()"[disabled]="!fatherForm.form.valid"> Add</button>  
		
	<!--  <button type="submit" class="btn btn-success" [disabled]="!fatherForm.form.valid">Submit</button>-->
    
		
    </form>
    
   </div>
     
</div>
